body {
    background-color: #CED4D8;
}
h1 {
    color: #AC6AC7;
}
h2 {
   color: rgb(255,165,0);
}
li {
    color: blue;
}
p {
    background-color: gold;
}
input[type] {
    border: 5px dotted pink;
}
#important {
    border: 3px dashed #0000ff;
}
div p {
    font-size: 30px;
}
input[type="email"] {
    background-color: #808080;
}

/* dunno what to do here (step 12 & 13) ¯\_(= ~ =)_/¯ */

em {
    color: seashell;
    font-size: 25px;
}
input[checked] {
    margin: 40px;
}
label {
    text-transform: lowercase;
}
#important::first-letter {
    color: lime;
    font-size: 90px;
}
h1:hover {
    color: navy;
}
a:visited {
    color: silver;
}